<app-menu-administrador></app-menu-administrador>
<p-table [value]="usuario">
  <ng-template pTemplate="header">
      <tr>

          
          <th> Nome </th>
          <th> Siape </th>
          <th> Setor </th>
          <th>Excluir este usuario</th>
          <th>Alterar este usuario</th>
         
          
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
      <tr>
         
          <td> <a [routerLink]="['/usuario/listar', usuario.id]"> {{usuario.nome}} </a> </td>
          <td> <a [routerLink]="['/usuario/listar', usuario.id]"> {{usuario.siape}} </a> </td>
          <td> <a [routerLink]="['/usuario/listar', usuario.id]"> {{usuario.idSetor}} </a> </td>
          

          <td>  <p-button  (click)="deletar(usuario)">Deletar</p-button>  </td>
          <td>  <p-button  (click)="AtualizarUsuario(usuario.id)">Atualizar</p-button>  </td>
      </tr>
      
  </ng-template>
</p-table>