<p align=center><img src="marca.png"/> </p> 
<router-outlet></router-outlet>
<h1> Cadastro</h1>
<b>Nome:</b>
<br/>
<input  [(ngModel)]= "coordenador.nome"  id ="Nome" type="text" pInputText placeholder="digite seu nome"/>
<br/> 
<br/> 
<b>Siape:</b>
<br/>
<input  [(ngModel)]= "coordenador.siape"  id ="siape" type="text" pInputText placeholder="7 dígitos"/> 
<br/> 
<br/> 
<b>Senha:</b>
<br/> 
<input  [(ngModel)]= "coordenador.senha"  id ="Senha" type="text" pInputText placeholder="digite sua senha"/>
<br/> 
<br/> 
<br/> 
<button pButton type="button" label="Entrar" (click) = 'salvar()' ></button> 
<!-- <button pButton type="button" label="Entrar" (click) = 'salvar()' ></button>  -->
