<html>
  <body>
      <p-toast></p-toast>
    <p align=center><img src="marca.png"/> </p> 
    <div class="ui-g">
      <div class="ui-g-5"></div>
      <div class="ui-inputgroup"> </div>
      <input  [(ngModel)]= "usuario.siape"  id ="nomeSiape" type="text" pInputText placeholder="siape"/> 
    </div>

    <div class="ui-g">
      <div class="ui-g-5"></div>
      <div class="ui-inputgroup"> </div>
      <input  [(ngModel)]= "usuario.senha" id="senhaLogin" type="password" pInputText placeholder="Senha"/>      
    </div>


    <div class="ui-g">
      <div class="ui-g-5"> </div>
      <div class="ui-inputgroup" ></div>
      <div class="ui-g-6"><p-button label="entrar" (click)="fazerLogin()" ></p-button>  </div>
    </div>



    
  </body>
</html>