
<p align=center><img src="marca.png"/> </p> 
<router-outlet></router-outlet>
<h2> Cadastro de setores:</h2>
<b>Nome:</b>
<br/>
<input  [(ngModel)]= "setor.nome"  id ="nomeSiape" type="text" pInputText placeholder="digite o nome setor"/>
<br/> 
<br/> 
<b>Usuarios:</b>
<br>
<p-dropdown [options]="usuarios" [(ngModel)]="coordenadorAdicionado" optionLabel="nome"  #selectUsuarios></p-dropdown>
<br/> 
<br>
<button  pButton  type = "botão"  label = " atualizar "  (click) = ' atualizarSetor() ' > </button >