<app-menu-coordenador></app-menu-coordenador>

<h2><p>servidores do setor ,com suas respectivas solicitações de visitas</p></h2>

<p-table [value]="usuariosSetor">
  <ng-template pTemplate="header">
      <tr>
          <th>Usuário</th> 
          <th>Visitas</th>
      </tr>   
  </ng-template>
  <ng-template pTemplate="body" let-usuarioSetor> 
      <tr>
          <td>  {{usuarioSetor.nome}} </td>
            <a [routerLink]="['/visita/listar',usuarioSetor.id]"> Visualizar </a> 
            
  </ng-template>
</p-table>
