<app-menu-coordenador></app-menu-coordenador>
<p align=center><img src="marca.png"/> </p>
<p-table [value]="viagens">
  <ng-template pTemplate="header">
      <tr>
          <th>Turma</th> 
          <th>Destino</th>
          <th>Visualizar</th>

          
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-viagem> 
      <tr>

          <td> <a [routerLink]="['/visita/visualizacao', viagem.id]">  {{viagem.turma}} </a> </td>
          <td> <a [routerLink]="['/visita/visualizacao', viagem.id]"> {{viagem.cidade}} </a> </td>
          <td>  <p-button  (click)="deletar(viagem)">Visualizar</p-button>  </td>
         

      </tr>
      
  </ng-template>
</p-table>
